vo/src/wsdl/registry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://www.ivoa.net/xml/VOResource/v0.10" xmlns:s6="http://www.ivoa.net/xml/SIA/v0.7" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.us-vo.org" xmlns:s3="http://www.ivoa.net/xml/VORegistry/v0.3" xmlns:s2="http://www.ivoa.net/xml/VODataService/v0.5" xmlns:s5="http://www.ivoa.net/xml/OpenSkyNode/v0.1" xmlns:s4="http://www.ivoa.net/xml/ConeSearch/v0.3" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.us-vo.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.us-vo.org">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.10" />
      <s:element name="DumpRegistry">
        <s:complexType />
      </s:element>
      <s:element name="DumpRegistryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DumpRegistryResult" type="s0:ArrayOfSimpleResource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSimpleResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SimpleResource" nillable="true" type="s0:SimpleResource" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SimpleResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Creator" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contributor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverageSpatial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverageSpectral" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverageTemporal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EntrySize" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxSR" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentLevel" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Facility" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Instrument" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Format" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DumpVOResources">
        <s:complexType />
      </s:element>
      <s:element name="DumpVOResourcesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DumpVOResourcesResult" type="s1:ArrayOfResource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Resource" nillable="true" type="s1:Resource" />
      <s:element name="QueryVOResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="predicate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryVOResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryVOResourceResult" type="s1:ArrayOfResource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="predicate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResourceResult" type="s0:ArrayOfDBResource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDBResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DBResource" nillable="true" type="s0:DBResource" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DBResource">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dbid" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationPublisherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationPublisherIdentifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationPublisherDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationPublisherReferenceUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationCreatorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationCreatorLogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationContributor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationContactEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationContactAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurationContactPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenceURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Facility" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Instrument" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentLevel" type="s0:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="ModificationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverageSpatial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverageSpectral" type="s0:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="CoverageTemporal" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CoverageRegionOfRegard" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ResourceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resourceRelations" type="s0:ArrayOfResourceRelation" />
          <s:element minOccurs="0" maxOccurs="1" name="resourceInterfaces" type="s0:ArrayOfResourceInterface" />
          <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="harvestedfrom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="harvestedfromDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="footprint" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResourceRelation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResourceRelation" nillable="true" type="s0:ResourceRelation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResourceRelation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="relatedResourceIvoId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="relationshipType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="relatedResourceName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResourceInterface">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResourceInterface" nillable="true" type="s0:ResourceInterface" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResourceInterface">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="interfaceNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="qtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accessURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="interfaceParams" type="s0:ArrayOfInterfaceParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInterfaceParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InterfaceParam" nillable="true" type="s0:InterfaceParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InterfaceParam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="interfaceNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datatype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ucd" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceSimpleImageAccess">
        <s:complexContent mixed="false">
          <s:extension base="s0:DBResource">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ImageServiceType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxQueryRegionSizeLong" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxQueryRegionSizeLat" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxImageExtentLong" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxImageExtentLat" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxImageSizeLong" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxImageSizeLat" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxFileSize" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="Format" type="s0:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="VOTableColumns" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceCone">
        <s:complexContent mixed="false">
          <s:extension base="s0:DBResource">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaxSearchRadius" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="VOTableColumns" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceSkyNode">
        <s:complexContent mixed="false">
          <s:extension base="s0:DBResource">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Compliance" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryTable" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryKey" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="QueryRegistry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="predicate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryRegistryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryRegistryResult" type="s0:ArrayOfSimpleResource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeywordSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keywords" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="andKeys" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeywordSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KeywordSearchResult" type="s1:ArrayOfResource" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Revisions">
        <s:complexType />
      </s:element>
      <s:element name="RevisionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RevisionsResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfSimpleResource" nillable="true" type="s0:ArrayOfSimpleResource" />
      <s:element name="ArrayOfResource" nillable="true" type="s1:ArrayOfResource" />
      <s:element name="ArrayOfDBResource" nillable="true" type="s0:ArrayOfDBResource" />
      <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/VOResource/v0.10">
      <s:import namespace="http://www.us-vo.org" />
      <s:import namespace="http://www.ivoa.net/xml/VODataService/v0.5" />
      <s:import namespace="http://www.ivoa.net/xml/VORegistry/v0.3" />
      <s:import namespace="http://www.ivoa.net/xml/OpenSkyNode/v0.1" />
      <s:import namespace="http://www.ivoa.net/xml/SIA/v0.7" />
      <s:import namespace="http://www.ivoa.net/xml/ConeSearch/v0.3" />
      <s:complexType name="ArrayOfResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" ref="s0:Resource" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Resource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:anyURI" />
          <s:element minOccurs="0" maxOccurs="1" name="curation" type="s1:Curation" />
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s1:Content" />
        </s:sequence>
        <s:attribute name="created" type="s:date" />
        <s:attribute name="updated" type="s:date" />
        <s:attribute default="active" name="status" type="s1:ResourceStatus" />
      </s:complexType>
      <s:complexType name="Curation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="publisher" type="s1:ResourceName" />
          <s:element minOccurs="0" maxOccurs="1" name="creator" type="s1:Creator" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="contributor" type="s1:ResourceName" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="date" type="s1:Date" />
          <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s1:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResourceName">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="ivo-id" type="s:anyURI" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="Creator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s1:ResourceName" />
          <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:anyURI" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Date">
        <s:simpleContent>
          <s:extension base="s:date">
            <s:attribute default="representative" name="role" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s1:ResourceName" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Content">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="source" type="s1:Source" />
          <s:element minOccurs="0" maxOccurs="1" name="referenceURL" type="s:anyURI" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s1:Type" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="contentLevel" type="s1:ContentLevel" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="relationship" type="s1:Relationship" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Source">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="format" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="Type">
        <s:restriction base="s:string">
          <s:enumeration value="Other" />
          <s:enumeration value="Archive" />
          <s:enumeration value="Bibliography" />
          <s:enumeration value="Catalog" />
          <s:enumeration value="Journal" />
          <s:enumeration value="Library" />
          <s:enumeration value="Simulation" />
          <s:enumeration value="Survey" />
          <s:enumeration value="Transformation" />
          <s:enumeration value="Education" />
          <s:enumeration value="Outreach" />
          <s:enumeration value="EPOResource" />
          <s:enumeration value="Animation" />
          <s:enumeration value="Artwork" />
          <s:enumeration value="Background" />
          <s:enumeration value="BasicData" />
          <s:enumeration value="Historical" />
          <s:enumeration value="Photographic" />
          <s:enumeration value="Press" />
          <s:enumeration value="Organisation" />
          <s:enumeration value="Project" />
          <s:enumeration value="Registry" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ContentLevel">
        <s:restriction base="s:string">
          <s:enumeration value="General" />
          <s:enumeration value="Elementary Education" />
          <s:enumeration value="Middle School Education" />
          <s:enumeration value="Secondary Education" />
          <s:enumeration value="Community College" />
          <s:enumeration value="University" />
          <s:enumeration value="Research" />
          <s:enumeration value="Amateur" />
          <s:enumeration value="Informal Education" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Relationship">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="relationshipType" type="s1:RelationshipType" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="relatedResource" type="s1:ResourceName" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RelationshipType">
        <s:restriction base="s:string">
          <s:enumeration value="mirror-of" />
          <s:enumeration value="service-for" />
          <s:enumeration value="derived-from" />
          <s:enumeration value="related-to" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ResourceStatus">
        <s:restriction base="s:string">
          <s:enumeration value="active" />
          <s:enumeration value="inactive" />
          <s:enumeration value="deleted" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Organisation">
        <s:complexContent mixed="false">
          <s:extension base="s1:Resource">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="facility" type="s1:ResourceName" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="instrument" type="s1:ResourceName" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AccessURL">
        <s:simpleContent>
          <s:extension base="s:anyURI">
            <s:attribute name="use" type="s1:AccessURLUse" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="AccessURLUse">
        <s:restriction base="s:string">
          <s:enumeration value="full" />
          <s:enumeration value="base" />
          <s:enumeration value="dir" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Service">
        <s:complexContent mixed="false">
          <s:extension base="s1:Resource">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="interface" type="s1:Interface" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Interface" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="accessURL" type="s1:AccessURL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebBrowser">
        <s:complexContent mixed="false">
          <s:extension base="s1:Interface" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Capability">
        <s:attribute name="standardID" type="s:anyURI" />
        <s:attribute name="standardURL" type="s:anyURI" />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/VODataService/v0.5">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.10" />
      <s:import namespace="http://www.ivoa.net/xml/ConeSearch/v0.3" />
      <s:import namespace="http://www.ivoa.net/xml/SIA/v0.7" />
      <s:import namespace="http://www.ivoa.net/xml/OpenSkyNode/v0.1" />
      <s:complexType name="DataCollection">
        <s:complexContent mixed="false">
          <s:extension base="s1:Resource">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="facility" type="s1:ResourceName" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="instrument" type="s1:ResourceName" />
              <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s2:Coverage" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="format" type="s2:Format" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="rights" type="s2:Rights" />
              <s:element minOccurs="0" maxOccurs="1" name="accessURL" type="s1:AccessURL" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Coverage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="spatial" type="s2:Spatial" />
          <s:element minOccurs="0" maxOccurs="1" name="spectral" type="s2:Spectral" />
          <s:element minOccurs="0" maxOccurs="1" name="temporal" type="s2:Temporal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Spatial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="region" type="s2:Region" />
          <s:element minOccurs="0" maxOccurs="1" name="resolution" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="regionOfRegard" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Region" abstract="true" />
      <s:complexType name="CircleRegion">
        <s:complexContent mixed="false">
          <s:extension base="s2:Region">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="coordFrame" type="s2:CoordFrame" />
              <s:element minOccurs="0" maxOccurs="1" name="center" type="s2:Position" />
              <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:float" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="CoordFrame">
        <s:restriction base="s:string">
          <s:enumeration value="ICRS" />
          <s:enumeration value="FK5" />
          <s:enumeration value="FK4" />
          <s:enumeration value="ECL" />
          <s:enumeration value="GAL" />
          <s:enumeration value="SGAL" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Position">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="long" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AllSky">
        <s:complexContent mixed="false">
          <s:extension base="s2:Region" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CoordRange">
        <s:complexContent mixed="false">
          <s:extension base="s2:Region">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="coordFrame" type="s2:CoordFrame" />
              <s:element minOccurs="0" maxOccurs="1" name="long" type="s2:AngleRange" />
              <s:element minOccurs="0" maxOccurs="1" name="lat" type="s2:AngleRange" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AngleRange">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="min" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="max" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Spectral">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="waveband" type="s2:Waveband" />
          <s:element minOccurs="0" maxOccurs="1" name="range" type="s2:WavelengthRange" />
          <s:element minOccurs="0" maxOccurs="1" name="resolution" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Waveband">
        <s:restriction base="s:string">
          <s:enumeration value="Radio" />
          <s:enumeration value="Millimeter" />
          <s:enumeration value="Infrared" />
          <s:enumeration value="Optical" />
          <s:enumeration value="UV" />
          <s:enumeration value="EUV" />
          <s:enumeration value="X-ray" />
          <s:enumeration value="Gamma-ray" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="WavelengthRange">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="min" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="max" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Temporal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="resolution" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Format">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute default="false" name="isMIMEType" type="s:boolean" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="Rights">
        <s:restriction base="s:string">
          <s:enumeration value="public" />
          <s:enumeration value="secure" />
          <s:enumeration value="proprietary" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ParamHTTP">
        <s:complexContent mixed="false">
          <s:extension base="s1:Interface">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="resultType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="param" type="s2:Param" />
            </s:sequence>
            <s:attribute name="qtype" type="s2:HTTPQueryType" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Param">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s2:DataType" />
          <s:element minOccurs="0" maxOccurs="1" name="unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ucd" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataType">
        <s:simpleContent>
          <s:extension base="s2:ScalarDataType">
            <s:attribute default="1" name="arraysize" type="s:token" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="ScalarDataType">
        <s:restriction base="s:string">
          <s:enumeration value="boolean" />
          <s:enumeration value="bit" />
          <s:enumeration value="unsignedByte" />
          <s:enumeration value="short" />
          <s:enumeration value="int" />
          <s:enumeration value="long" />
          <s:enumeration value="char" />
          <s:enumeration value="unicodeChar" />
          <s:enumeration value="float" />
          <s:enumeration value="double" />
          <s:enumeration value="floatComplex" />
          <s:enumeration value="doubleComplex" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="HTTPQueryType">
        <s:restriction base="s:string">
          <s:enumeration value="GET" />
          <s:enumeration value="POST" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="GLUService">
        <s:complexContent mixed="false">
          <s:extension base="s1:Interface" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WebService">
        <s:complexContent mixed="false">
          <s:extension base="s1:Interface" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SkyService">
        <s:complexContent mixed="false">
          <s:extension base="s1:Service">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="facility" type="s1:ResourceName" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="instrument" type="s1:ResourceName" />
              <s:element minOccurs="0" maxOccurs="1" name="coverage" type="s2:Coverage" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TabularSkyService">
        <s:complexContent mixed="false">
          <s:extension base="s2:SkyService">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="table" type="s2:Table" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Table">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="column" type="s2:Param" />
        </s:sequence>
        <s:attribute name="role" type="s:string" />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/VORegistry/v0.3">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.10" />
      <s:complexType name="Authority">
        <s:complexContent mixed="false">
          <s:extension base="s1:Resource">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="managingOrg" type="s1:ResourceName" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Registry">
        <s:complexContent mixed="false">
          <s:extension base="s1:Service">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="managedAuthority" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/ConeSearch/v0.3">
      <s:import namespace="http://www.ivoa.net/xml/VODataService/v0.5" />
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.10" />
      <s:complexType name="ConeSearch">
        <s:complexContent mixed="false">
          <s:extension base="s2:TabularSkyService">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="capability" type="s4:ConeSearchCapability" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ConeSearchCapability">
        <s:complexContent mixed="false">
          <s:extension base="s4:CSCapRestriction">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="maxSR" type="s:float" />
              <s:element minOccurs="1" maxOccurs="1" name="maxRecords" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="verbosity" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CSCapRestriction" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s1:Capability" />
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/OpenSkyNode/v0.1">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.10" />
      <s:import namespace="http://www.ivoa.net/xml/VODataService/v0.5" />
      <s:complexType name="OSNCapRestriction" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s1:Capability" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OSNCapability">
        <s:complexContent mixed="false">
          <s:extension base="s5:OSNCapRestriction">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Compliance" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxRecords" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryTable" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryKey" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="OpenSkyNode">
        <s:complexContent mixed="false">
          <s:extension base="s2:TabularSkyService">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="capability" type="s5:OSNCapability" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ivoa.net/xml/SIA/v0.7">
      <s:import namespace="http://www.ivoa.net/xml/VOResource/v0.10" />
      <s:import namespace="http://www.ivoa.net/xml/VODataService/v0.5" />
      <s:complexType name="SIACapRestriction" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="s1:Capability" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIACapability">
        <s:complexContent mixed="false">
          <s:extension base="s6:SIACapRestriction">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="imageServiceType" type="s6:ImageServiceType" />
              <s:element minOccurs="0" maxOccurs="1" name="maxQueryRegionSize" type="s6:SkySize" />
              <s:element minOccurs="0" maxOccurs="1" name="maxImageExtent" type="s6:SkySize" />
              <s:element minOccurs="0" maxOccurs="1" name="maxImageSize" type="s6:ImageSize" />
              <s:element minOccurs="1" maxOccurs="1" name="maxFileSize" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="maxRecords" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="ImageServiceType">
        <s:restriction base="s:string">
          <s:enumeration value="Cutout" />
          <s:enumeration value="Mosaic" />
          <s:enumeration value="Atlas" />
          <s:enumeration value="Pointed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="SkySize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="long" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImageSize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="long" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SimpleImageAccess">
        <s:complexContent mixed="false">
          <s:extension base="s2:TabularSkyService">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="capability" type="s6:SIACapability" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </types>
  <message name="DumpRegistrySoapIn">
    <part name="parameters" element="s0:DumpRegistry" />
  </message>
  <message name="DumpRegistrySoapOut">
    <part name="parameters" element="s0:DumpRegistryResponse" />
  </message>
  <message name="DumpVOResourcesSoapIn">
    <part name="parameters" element="s0:DumpVOResources" />
  </message>
  <message name="DumpVOResourcesSoapOut">
    <part name="parameters" element="s0:DumpVOResourcesResponse" />
  </message>
  <message name="QueryVOResourceSoapIn">
    <part name="parameters" element="s0:QueryVOResource" />
  </message>
  <message name="QueryVOResourceSoapOut">
    <part name="parameters" element="s0:QueryVOResourceResponse" />
  </message>
  <message name="QueryResourceSoapIn">
    <part name="parameters" element="s0:QueryResource" />
  </message>
  <message name="QueryResourceSoapOut">
    <part name="parameters" element="s0:QueryResourceResponse" />
  </message>
  <message name="QueryRegistrySoapIn">
    <part name="parameters" element="s0:QueryRegistry" />
  </message>
  <message name="QueryRegistrySoapOut">
    <part name="parameters" element="s0:QueryRegistryResponse" />
  </message>
  <message name="KeywordSearchSoapIn">
    <part name="parameters" element="s0:KeywordSearch" />
  </message>
  <message name="KeywordSearchSoapOut">
    <part name="parameters" element="s0:KeywordSearchResponse" />
  </message>
  <message name="RevisionsSoapIn">
    <part name="parameters" element="s0:Revisions" />
  </message>
  <message name="RevisionsSoapOut">
    <part name="parameters" element="s0:RevisionsResponse" />
  </message>
  <message name="DumpRegistryHttpGetIn" />
  <message name="DumpRegistryHttpGetOut">
    <part name="Body" element="s0:ArrayOfSimpleResource" />
  </message>
  <message name="DumpVOResourcesHttpGetIn" />
  <message name="DumpVOResourcesHttpGetOut">
    <part name="Body" element="s0:ArrayOfResource" />
  </message>
  <message name="QueryVOResourceHttpGetIn">
    <part name="predicate" type="s:string" />
  </message>
  <message name="QueryVOResourceHttpGetOut">
    <part name="Body" element="s0:ArrayOfResource" />
  </message>
  <message name="QueryResourceHttpGetIn">
    <part name="predicate" type="s:string" />
  </message>
  <message name="QueryResourceHttpGetOut">
    <part name="Body" element="s0:ArrayOfDBResource" />
  </message>
  <message name="QueryRegistryHttpGetIn">
    <part name="predicate" type="s:string" />
  </message>
  <message name="QueryRegistryHttpGetOut">
    <part name="Body" element="s0:ArrayOfSimpleResource" />
  </message>
  <message name="KeywordSearchHttpGetIn">
    <part name="keywords" type="s:string" />
    <part name="andKeys" type="s:string" />
  </message>
  <message name="KeywordSearchHttpGetOut">
    <part name="Body" element="s0:ArrayOfResource" />
  </message>
  <message name="RevisionsHttpGetIn" />
  <message name="RevisionsHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="DumpRegistryHttpPostIn" />
  <message name="DumpRegistryHttpPostOut">
    <part name="Body" element="s0:ArrayOfSimpleResource" />
  </message>
  <message name="DumpVOResourcesHttpPostIn" />
  <message name="DumpVOResourcesHttpPostOut">
    <part name="Body" element="s0:ArrayOfResource" />
  </message>
  <message name="QueryVOResourceHttpPostIn">
    <part name="predicate" type="s:string" />
  </message>
  <message name="QueryVOResourceHttpPostOut">
    <part name="Body" element="s0:ArrayOfResource" />
  </message>
  <message name="QueryResourceHttpPostIn">
    <part name="predicate" type="s:string" />
  </message>
  <message name="QueryResourceHttpPostOut">
    <part name="Body" element="s0:ArrayOfDBResource" />
  </message>
  <message name="QueryRegistryHttpPostIn">
    <part name="predicate" type="s:string" />
  </message>
  <message name="QueryRegistryHttpPostOut">
    <part name="Body" element="s0:ArrayOfSimpleResource" />
  </message>
  <message name="KeywordSearchHttpPostIn">
    <part name="keywords" type="s:string" />
    <part name="andKeys" type="s:string" />
  </message>
  <message name="KeywordSearchHttpPostOut">
    <part name="Body" element="s0:ArrayOfResource" />
  </message>
  <message name="RevisionsHttpPostIn" />
  <message name="RevisionsHttpPostOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <portType name="RegistrySoap">
    <operation name="DumpRegistry">
      <documentation>Retrieve All Records from Registry, returns SimpleResources</documentation>
      <input message="s0:DumpRegistrySoapIn" />
      <output message="s0:DumpRegistrySoapOut" />
    </operation>
    <operation name="DumpVOResources">
      <documentation>Retrieve All VOResources from Registry</documentation>
      <input message="s0:DumpVOResourcesSoapIn" />
      <output message="s0:DumpVOResourcesSoapOut" />
    </operation>
    <operation name="QueryVOResource">
      <documentation>Returns VOResources: Input WHERE predicate for SQL Query like e.g. 
 maxSearchRadius &gt; 1 and ResourceType like 'CONE'</documentation>
      <input message="s0:QueryVOResourceSoapIn" />
      <output message="s0:QueryVOResourceSoapOut" />
    </operation>
    <operation name="QueryResource">
      <documentation>Returns custom simplified Resources: Input WHERE predicate for SQL Query like e.g. 
 ResourceType like 'CONE'</documentation>
      <input message="s0:QueryResourceSoapIn" />
      <output message="s0:QueryResourceSoapOut" />
    </operation>
    <operation name="QueryRegistry">
      <documentation>Returns SimpleResource (backward compatibility for DATASCOPE): Input WHERE predicate for SQL Query like e.g. 
 maxSearchRadius &gt; 1 and ResourceType like 'CONE'</documentation>
      <input message="s0:QueryRegistrySoapIn" />
      <output message="s0:QueryRegistrySoapOut" />
    </operation>
    <operation name="KeywordSearch">
      <documentation>searches registry for keyword</documentation>
      <input message="s0:KeywordSearchSoapIn" />
      <output message="s0:KeywordSearchSoapOut" />
    </operation>
    <operation name="Revisions">
      <documentation>returns cvs verions of classes in this service</documentation>
      <input message="s0:RevisionsSoapIn" />
      <output message="s0:RevisionsSoapOut" />
    </operation>
  </portType>
  <portType name="RegistryHttpGet">
    <operation name="DumpRegistry">
      <documentation>Retrieve All Records from Registry, returns SimpleResources</documentation>
      <input message="s0:DumpRegistryHttpGetIn" />
      <output message="s0:DumpRegistryHttpGetOut" />
    </operation>
    <operation name="DumpVOResources">
      <documentation>Retrieve All VOResources from Registry</documentation>
      <input message="s0:DumpVOResourcesHttpGetIn" />
      <output message="s0:DumpVOResourcesHttpGetOut" />
    </operation>
    <operation name="QueryVOResource">
      <documentation>Returns VOResources: Input WHERE predicate for SQL Query like e.g. 
 maxSearchRadius &gt; 1 and ResourceType like 'CONE'</documentation>
      <input message="s0:QueryVOResourceHttpGetIn" />
      <output message="s0:QueryVOResourceHttpGetOut" />
    </operation>
    <operation name="QueryResource">
      <documentation>Returns custom simplified Resources: Input WHERE predicate for SQL Query like e.g. 
 ResourceType like 'CONE'</documentation>
      <input message="s0:QueryResourceHttpGetIn" />
      <output message="s0:QueryResourceHttpGetOut" />
    </operation>
    <operation name="QueryRegistry">
      <documentation>Returns SimpleResource (backward compatibility for DATASCOPE): Input WHERE predicate for SQL Query like e.g. 
 maxSearchRadius &gt; 1 and ResourceType like 'CONE'</documentation>
      <input message="s0:QueryRegistryHttpGetIn" />
      <output message="s0:QueryRegistryHttpGetOut" />
    </operation>
    <operation name="KeywordSearch">
      <documentation>searches registry for keyword</documentation>
      <input message="s0:KeywordSearchHttpGetIn" />
      <output message="s0:KeywordSearchHttpGetOut" />
    </operation>
    <operation name="Revisions">
      <documentation>returns cvs verions of classes in this service</documentation>
      <input message="s0:RevisionsHttpGetIn" />
      <output message="s0:RevisionsHttpGetOut" />
    </operation>
  </portType>
  <portType name="RegistryHttpPost">
    <operation name="DumpRegistry">
      <documentation>Retrieve All Records from Registry, returns SimpleResources</documentation>
      <input message="s0:DumpRegistryHttpPostIn" />
      <output message="s0:DumpRegistryHttpPostOut" />
    </operation>
    <operation name="DumpVOResources">
      <documentation>Retrieve All VOResources from Registry</documentation>
      <input message="s0:DumpVOResourcesHttpPostIn" />
      <output message="s0:DumpVOResourcesHttpPostOut" />
    </operation>
    <operation name="QueryVOResource">
      <documentation>Returns VOResources: Input WHERE predicate for SQL Query like e.g. 
 maxSearchRadius &gt; 1 and ResourceType like 'CONE'</documentation>
      <input message="s0:QueryVOResourceHttpPostIn" />
      <output message="s0:QueryVOResourceHttpPostOut" />
    </operation>
    <operation name="QueryResource">
      <documentation>Returns custom simplified Resources: Input WHERE predicate for SQL Query like e.g. 
 ResourceType like 'CONE'</documentation>
      <input message="s0:QueryResourceHttpPostIn" />
      <output message="s0:QueryResourceHttpPostOut" />
    </operation>
    <operation name="QueryRegistry">
      <documentation>Returns SimpleResource (backward compatibility for DATASCOPE): Input WHERE predicate for SQL Query like e.g. 
 maxSearchRadius &gt; 1 and ResourceType like 'CONE'</documentation>
      <input message="s0:QueryRegistryHttpPostIn" />
      <output message="s0:QueryRegistryHttpPostOut" />
    </operation>
    <operation name="KeywordSearch">
      <documentation>searches registry for keyword</documentation>
      <input message="s0:KeywordSearchHttpPostIn" />
      <output message="s0:KeywordSearchHttpPostOut" />
    </operation>
    <operation name="Revisions">
      <documentation>returns cvs verions of classes in this service</documentation>
      <input message="s0:RevisionsHttpPostIn" />
      <output message="s0:RevisionsHttpPostOut" />
    </operation>
  </portType>
  <binding name="RegistrySoap" type="s0:RegistrySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="DumpRegistry">
      <soap:operation soapAction="http://www.us-vo.org/DumpRegistry" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DumpVOResources">
      <soap:operation soapAction="http://www.us-vo.org/DumpVOResources" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryVOResource">
      <soap:operation soapAction="http://www.us-vo.org/QueryVOResource" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryResource">
      <soap:operation soapAction="http://www.us-vo.org/QueryResource" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryRegistry">
      <soap:operation soapAction="http://www.us-vo.org/QueryRegistry" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="KeywordSearch">
      <soap:operation soapAction="http://www.us-vo.org/KeywordSearch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Revisions">
      <soap:operation soapAction="http://www.us-vo.org/Revisions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="RegistryHttpGet" type="s0:RegistryHttpGet">
    <http:binding verb="GET" />
    <operation name="DumpRegistry">
      <http:operation location="/DumpRegistry" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DumpVOResources">
      <http:operation location="/DumpVOResources" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryVOResource">
      <http:operation location="/QueryVOResource" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryResource">
      <http:operation location="/QueryResource" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryRegistry">
      <http:operation location="/QueryRegistry" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="KeywordSearch">
      <http:operation location="/KeywordSearch" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Revisions">
      <http:operation location="/Revisions" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="RegistryHttpPost" type="s0:RegistryHttpPost">
    <http:binding verb="POST" />
    <operation name="DumpRegistry">
      <http:operation location="/DumpRegistry" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DumpVOResources">
      <http:operation location="/DumpVOResources" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryVOResource">
      <http:operation location="/QueryVOResource" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryResource">
      <http:operation location="/QueryResource" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="QueryRegistry">
      <http:operation location="/QueryRegistry" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="KeywordSearch">
      <http:operation location="/KeywordSearch" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Revisions">
      <http:operation location="/Revisions" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Registry">
    <port name="RegistrySoap" binding="s0:RegistrySoap">
      <soap:address location="http://nvo.stsci.edu/voregistry/registry.asmx" />
    </port>
    <port name="RegistryHttpGet" binding="s0:RegistryHttpGet">
      <http:address location="http://nvo.stsci.edu/voregistry/registry.asmx" />
    </port>
    <port name="RegistryHttpPost" binding="s0:RegistryHttpPost">
      <http:address location="http://nvo.stsci.edu/voregistry/registry.asmx" />
    </port>
  </service>
</definitions>