ttools/src/resources/uk/ac/starlink/ttools/taplint/VOResource-v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.ivoa.net/xml/VOResource/v1.0" 
           xmlns="http://www.w3.org/2001/XMLSchema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:vr="http://www.ivoa.net/xml/VOResource/v1.0" 
           xmlns:vm="http://www.ivoa.net/xml/VOMetadata/v0.1"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified"
           version="1.1">

<!-- NOTE: target namespace ends in v1.0 in order to not break 1.0 clients.
This is nevertheless the 1.1 schema, as given by the version attribute.
For details, see http://ivoa.net/documents/Notes/XMLVers -->

   <xs:annotation>
     <xs:appinfo>
       <vm:schemaName>VOResource</vm:schemaName>
       <vm:schemaPrefix>xs</vm:schemaPrefix>
       <vm:targetPrefix>vr</vm:targetPrefix>
     </xs:appinfo>
      <xs:documentation>
        An XML Schema describing a resource to be used in the Virtual 
        Observatory Project.

        Please see http://www.ivoa.net/documents/latest/VOResource.html
        for further  information on the standard governing this
        schema.
      </xs:documentation>
   </xs:annotation>

   <xs:simpleType name="UTCTimestamp">
      <xs:annotation>
         <xs:documentation>
           A timestamp that is compliant with ISO8601 and fixes
           the timezone indicator, if present, to "Z" (UTC).  VOResource
           writers should always include the timezone marker.  VOResource
           readers must interpret timestamps without a timezone marker as
           UTC.
         </xs:documentation> 
      </xs:annotation>

      <xs:restriction base="xs:dateTime">
         <xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?Z?"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="UTCDateTime">
      <xs:annotation>
         <xs:documentation>
           A date stamp that can be given to a precision of either a
           day (type xs:date) or seconds (type xs:dateTime).  Where only a
           date is given, it is to be interpreted as the span of the day 
           on the UTC timezone if such distinctions are relevant.
         </xs:documentation> 
      </xs:annotation>
      <xs:union memberTypes="xs:date vr:UTCTimestamp"/>
   </xs:simpleType>

   <xs:complexType name="Resource">
      <xs:annotation>
         <xs:documentation>
           Any entity or component of a VO application that is
           describable and identifiable by an IVOA Identifier. 
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="validationLevel" type="vr:Validation"
                     minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>
                  A numeric grade describing the quality of the
                  resource description, when applicable, 
                  to be used to indicate the confidence an end-user
                  can put in the resource as part of a VO application
                  or research study. 
               </xs:documentation>
               <xs:documentation>
                  See vr:Validation for an explanation of the
                  allowed levels.  
               </xs:documentation>
               <xs:documentation>
                  Note that when this resource is a Service, this
                  grade applies to the core set of metadata.
                  Capability and interface metadata, as well as the
                  compliance of the service with the interface
                  standard, is rated by validationLevel tag in the 
                  capability element (see the vr:Service complex
                  type).  
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="title" type="xs:token">
            <xs:annotation>
               <xs:appinfo>
                 <vm:dcterm>Title</vm:dcterm>
               </xs:appinfo>           
               <xs:documentation>
                  the full name given to the resource
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="shortName" type="vr:ShortName" minOccurs="0">
            <xs:annotation>
               <xs:documentation>
                 A short name or abbreviation given to the resource.
               </xs:documentation>
               <xs:documentation>
                 This name will be used where brief annotations for
                 the resource name are required.  Applications may 
                 use to refer to this resource in a compact display.   
               </xs:documentation>
               <xs:documentation>
                 One word or a few letters is recommended.  No more
                 than sixteen characters are allowed.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="identifier" type="vr:IdentifierURI">
            <xs:annotation>
               <xs:appinfo>
                 <vm:dcterm>Identifier</vm:dcterm>
               </xs:appinfo>           
               <xs:documentation>
                  Unambiguous reference to the resource conforming to the IVOA
                  standard for identifiers
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="altIdentifier" type="xs:anyURI"
               minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>
                  A reference to this resource in a non-IVOA identifier
                  scheme, e.g., DOI or bibcode.  Always use the an URI scheme
                  here, e.g., doi:10.1016/j.epsl.2011.11.037.  For bibcodes,
                  use a form like bibcode:2008ivoa.spec.0222P.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="curation" type="vr:Curation">
           <xs:annotation>
             <xs:documentation>
               Information regarding the general curation of the resource
             </xs:documentation>
           </xs:annotation>
         </xs:element>

         <xs:element name="content" type="vr:Content">
           <xs:annotation>
             <xs:documentation>
               Information regarding the general content of the resource
             </xs:documentation>
           </xs:annotation>
         </xs:element>

      </xs:sequence>

      <xs:attribute name="created" type="vr:UTCTimestamp" use="required">
         <xs:annotation>
            <xs:documentation>
              The UTC date and time this resource metadata description
              was created. 
            </xs:documentation>
            <xs:documentation>
              This timestamp must not be in the future.  This time is
              not required to be accurate; it should be at least
              accurate to the day.  Any non-significant time fields
              should be set to zero. 
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="updated" type="vr:UTCTimestamp" use="required">
         <xs:annotation>
            <xs:documentation>
              The UTC date this resource metadata description was last updated.
            </xs:documentation>
            <xs:documentation>
              This timestamp must not be in the future.  This time is
              not required to be accurate; it should be at least
              accurate to the day.  Any non-significant time fields
              should be set to zero. 
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="status" use="required">
         <xs:annotation>
            <xs:documentation>
              a tag indicating whether this resource is believed to be still
              actively maintained.
            </xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="active">
                 <xs:annotation>
                   <xs:documentation>
                      resource is believed to be currently maintained, and its
                      description is up to date (default). 
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="inactive">
                 <xs:annotation>
                   <xs:documentation>
                     resource is apparently not being maintained at the present.
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="deleted">
                 <xs:annotation>
                   <xs:documentation>
                      resource publisher has explicitly deleted the resource.
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>

      <xs:attribute name="version" type="xs:token">
         <xs:annotation>
            <xs:documentation>
               The VOResource XML schema version 
               against which this instance was written.
               Implementors should set this to the value of the version
               attribute of their schema's root (xs:schema) element.
               Clients may assume version 1.0 if this attribute is 
               missing.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:simpleType name="ValidationLevel">
     <xs:annotation>
       <xs:documentation>
         The allowed values for describing the resource descriptions
         and interfaces.  
       </xs:documentation>
       <xs:documentation>
         See the RM (v1.1, section 4) for more guidance on the use of
         these values.  
       </xs:documentation>
     </xs:annotation>
     <xs:restriction base="xs:integer">
        <xs:whiteSpace value="collapse"/>
        <xs:enumeration value="0">
          <xs:annotation>
            <xs:documentation>
              The resource has a description that is stored in a
              registry. This level does not imply a compliant
              description. 
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="1">
          <xs:annotation>
            <xs:documentation>
              In addition to meeting the level 0 definition, the
              resource description conforms syntactically to this
              standard and to the encoding scheme used. 
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="2">
          <xs:annotation>
            <xs:documentation>
              In addition to meeting the level 1 definition, the
              resource description refers to an existing resource that
              has demonstrated to be functionally compliant. 
            </xs:documentation>
            <xs:documentation>
              When the resource is a service, it is considered to exist
              and functionally compliant if use of the
              service accessURL responds without error when used as
              intended by the resource. If the service is a standard
              one, it must also demonstrate the response is syntactically 
              compliant with the service standard in order to be
              considered functionally compliant. If the resource is
              not a service, then the ReferenceURL must be shown to
              return a document without error. 
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="3">
          <xs:annotation>
            <xs:documentation>
              In addition to meeting the level 2 definition, the
              resource description has been inspected by a human and
              judged to comply semantically to this standard as well
              as meeting any additional minimum quality criteria (e.g.,
              providing values for important but non-required
              metadata) set by the human inspector.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="4">
          <xs:annotation>
            <xs:documentation>
              In addition to meeting the level 3 definition, the
              resource description meets additional quality criteria
              set by the human inspector and is therefore considered
              an excellent description of the resource. Consequently,
              the resource is expected to operate well as part of a
              VO application or research study.
            </xs:documentation>
          </xs:annotation>
        </xs:enumeration>
     </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="Validation">
     <xs:annotation>
       <xs:documentation>
         a validation stamp combining a validation level and the ID of 
         the validator.
       </xs:documentation>
     </xs:annotation>
     <xs:simpleContent>
       <xs:extension base="vr:ValidationLevel">
         <xs:attribute name="validatedBy" type="xs:anyURI"
                       use="required">
           <xs:annotation>
             <xs:documentation>
               The IVOA ID of the registry or organisation that
               assigned the validation level.  
             </xs:documentation>
           </xs:annotation>
         </xs:attribute>
       </xs:extension>
     </xs:simpleContent>
   </xs:complexType>

   <xs:simpleType name="AuthorityID">
     <xs:restriction base="xs:token">
       <xs:pattern value="[\w\d][\w\d\-_\.!~\*'\(\)\+=]{2,}"/>
     </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ResourceKey">
     <xs:restriction base="xs:token">
       <xs:pattern value="[\w\d\-_\.!~\*'\(\)\+=]+(/[\w\d\-_\.!~\*'\(\)\+=]+)*"/>
     </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="IdentifierURI">
      <xs:annotation>
         <xs:documentation>
            A reference to a registry record.
         </xs:documentation>
         <xs:documentation>
            This type should only be used if what is referenced
            must actually be a true Registry record; vr:IdentifierURI
            does not allow query or fragment parts and is hence
            not suitable for everything defined by IVOA Identifiers,
            in particular not standard keys (which are used for versions
            of standards, for instance) or dataset identifiers.

            When something does not need to be locked down to a
            reference to a single registry record, xs:anyURI should
            be used.
         </xs:documentation>
      </xs:annotation>
     <xs:restriction base="xs:anyURI">
       <xs:pattern value="ivo://[\w\d][\w\d\-_\.!~\*'\(\)\+=]{2,}(/[\w\d\-_\.!~\*'\(\)\+=]+(/[\w\d\-_\.!~\*'\(\)\+=]+)*)?"/>
     </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ShortName">
     <xs:annotation>
       <xs:documentation>
         A short name or abbreviation given to something.
       </xs:documentation>
       <xs:documentation>
         This name will be used where brief annotations for
         the resource name are required.  Applications may 
         use to refer to this resource in a compact display.   
       </xs:documentation>
       <xs:documentation>
         One word or a few letters is recommended.  No more
         than sixteen characters are allowed.
       </xs:documentation>
     </xs:annotation>

     <xs:restriction base="xs:token">
        <xs:maxLength value="16"/>
     </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="Curation">
     <xs:annotation>
       <xs:documentation>
         Information regarding the general curation of a resource
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>
       <xs:element name="publisher" type="vr:ResourceName">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Publisher</vm:dcterm>
             </xs:appinfo>
             <xs:documentation>
               Entity (e.g. person or organisation) responsible for making the 
               resource available
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="creator" type="vr:Creator" 
                   minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Creator</vm:dcterm>
             </xs:appinfo>
             <xs:documentation>
                The entity/ies (e.g. person(s) or organisation) primarily responsible 
                for creating the content or constitution of the resource.
             </xs:documentation>
             <xs:documentation>
                This is the equivalent of the author of a publication.
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="contributor" type="vr:ResourceName"
                   minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Contributor</vm:dcterm>
             </xs:appinfo>
             <xs:documentation>
               Entity responsible for contributions to the content of
               the resource
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="date" type="vr:Date" 
                   minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Date</vm:dcterm>
             </xs:appinfo>
             <xs:documentation>
               Date associated with an event in the life cycle of the
               resource.  
             </xs:documentation>
             <xs:documentation>
               This will typically be associated with the creation or 
               availability (i.e., most recent release or version) of
               the resource.  Use the role attribute to clarify.
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="version" type="xs:token" minOccurs="0">
          <xs:annotation>
             <xs:documentation>
               Label associated with creation or availablilty of a version of 
               a resource.
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="contact" type="vr:Contact" maxOccurs="unbounded">
          <xs:annotation>
             <xs:documentation>
               Information that can be used for contacting someone with
               regard to this resource.
             </xs:documentation>
          </xs:annotation>
       </xs:element>

     </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ResourceName">
     <xs:annotation>
       <xs:documentation>
         The name of a potentially registered resource.  That is, the entity
         referred to may have an associated identifier.
       </xs:documentation>
     </xs:annotation>

     <xs:simpleContent>
       <xs:extension base="xs:token"> 

         <xs:attribute name="ivo-id" type="vr:IdentifierURI">
            <xs:annotation>
              <xs:documentation>
                The IVOA identifier for the resource referred to.
              </xs:documentation>
            </xs:annotation>
         </xs:attribute>

       </xs:extension>       
     </xs:simpleContent>
   </xs:complexType>   

   <xs:complexType name="Contact">
     <xs:annotation>
        <xs:documentation>
          Information allowing establishing contact, e.g., for purposes
          of support.
        </xs:documentation>
     </xs:annotation>
     <xs:sequence>
        <xs:element name="name" type="vr:ResourceName">
           <xs:annotation>
              <xs:documentation>
                  the name or title of the contact person.
              </xs:documentation>
              <xs:documentation>
                  This can be a person's name, e.g. “John P. Jones” or
                  a group, “Archive Support Team”.
              </xs:documentation>
           </xs:annotation>
        </xs:element>

        <xs:element name="address" type="xs:token" minOccurs="0">
           <xs:annotation>
              <xs:documentation>the contact mailing address</xs:documentation>
              <xs:documentation>
                All components of the mailing address are given in one
                string, e.g. “3700 San Martin Drive, Baltimore, MD 21218 USA”.
              </xs:documentation>
           </xs:annotation>
        </xs:element>

        <xs:element name="email" type="xs:token" minOccurs="0">
           <xs:annotation>
              <xs:documentation>the contact email address</xs:documentation>
           </xs:annotation>
        </xs:element>

        <xs:element name="telephone" type="xs:token" minOccurs="0">
           <xs:annotation>
              <xs:documentation>the contact telephone number</xs:documentation>
              <xs:documentation>
                Complete international dialing codes should be given, e.g.
                “+1-410-338-1234”.
              </xs:documentation>
           </xs:annotation>
        </xs:element>

        <xs:element name="altIdentifier" type="xs:anyURI" minOccurs="0"
              maxOccurs="unbounded">
           <xs:annotation>
              <xs:documentation>
                 A reference to this entitiy in a non-IVOA identifier
                 scheme, e.g., orcid.  Always use a URI form including
                 a scheme here.
              </xs:documentation>
           </xs:annotation>
        </xs:element>

      </xs:sequence>

      <xs:attribute name="ivo-id" type="vr:IdentifierURI">
         <xs:annotation>
           <xs:documentation>
             An IVOA identifier for the contact (typically when it is
             an organization).
           </xs:documentation>
         </xs:annotation>
      </xs:attribute>

   </xs:complexType>

   <xs:complexType name="Creator">
      <xs:annotation>
         <xs:documentation>
            The entity (e.g. person or organisation) primarily responsible 
            for creating something
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
        <xs:element name="name" type="vr:ResourceName">
           <xs:annotation>
              <xs:documentation>
                  the name or title of the creating person or organisation
              </xs:documentation>
              <xs:documentation>
                  Users of the creation should use this name in
                  subsequent credits and acknowledgements.

                  This should be exactly one name, preferably last name
                  first (as in "van der Waals, Johannes Diderik").
              </xs:documentation>
           </xs:annotation>
        </xs:element>

        <xs:element name="logo" type="xs:anyURI" minOccurs="0">
           <xs:annotation>
              <xs:documentation>
                URL pointing to a graphical logo, which may be used to help 
                identify the information source
              </xs:documentation>
              <xs:documentation>
                A logo needs only be provided for the first occurrence.
                When multiple logos are supplied via multiple creator 
                elements, the application is free to choose which to
                use. 
              </xs:documentation>
           </xs:annotation>
        </xs:element>

        <xs:element name="altIdentifier" type="xs:anyURI" minOccurs="0"
              maxOccurs="unbounded">
           <xs:annotation>
              <xs:documentation>
                 A reference to this entitiy in a non-IVOA identifier
                 scheme, e.g., orcid.  Always use a URI form including
                 a scheme here.
              </xs:documentation>
           </xs:annotation>
        </xs:element>

      </xs:sequence>

      <xs:attribute name="ivo-id" type="vr:IdentifierURI">
         <xs:annotation>
           <xs:documentation>
             An IVOA identifier for the creator (typically when it is
             an organization).
           </xs:documentation>
         </xs:annotation>
      </xs:attribute>

   </xs:complexType>

   <xs:complexType name="Date">
      <xs:simpleContent>
         <xs:extension base="vr:UTCDateTime">
           <xs:attribute name="role" type="xs:string" default="representative">
             <xs:annotation>
               <xs:documentation>
                 A string indicating what the date refers to.  
               </xs:documentation>
               <xs:documentation>
               	The value of role should be taken from the vocabulary 
               	maintained at
               	http://www.ivoa.net/rdf/voresource/date_role.
               	This includes the traditional and deprecated strings
                “creation”, indicating the date that the resource 
                itself was created, and “update”, indicating when the
                resource was updated last, and the default value,
                “representative”, meaning the date is a rough 
                representation of the time coverage of the resource.
                The preferred terms from that vocabulary are the DataCite
                Metadata terms.   It is expected that the vocabulary will 
                be kept synchronous with the corresponding list of terms
                in the DataCite Metadata schema.
               </xs:documentation>
               <xs:documentation>
                 Note that this date refers to the resource; dates describing
                 the metadata description of the resource are handled by
                 the “created” and “updated” attributes of the Resource 
                 element. 
               </xs:documentation>
             </xs:annotation>
           </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="Content">
     <xs:annotation>
       <xs:documentation>
         Information regarding the general content of a resource
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>
       <xs:element name="subject" type="xs:token" maxOccurs="unbounded">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Subject</vm:dcterm>
             </xs:appinfo>           
             <xs:documentation>
               a topic, object type, or other descriptive keywords 
               about the resource.  
             </xs:documentation>
             <xs:documentation>
               Terms for Subject should be drawn from the Unified
               Astronomy Thesaurus (http://astrothesaurus.org).
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="description" type="xs:string">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Description</vm:dcterm>
             </xs:appinfo>           
             <xs:documentation>
               An account of the nature of the resource
             </xs:documentation>
             <xs:documentation>
               The description may include but is not limited to an abstract, 
               table of contents, reference to a graphical representation of
               content or a free-text account of the content.

               Note that description is xs:string-typed, which means that
               whitespace is considered significant.  Clients should
               render empty lines as paragraph boundaries and ideally
               refrain from reflowing material that looks formatted (i.e.,
               is broken to about 80-character lines).
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="source" type="vr:Source" minOccurs="0">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Source</vm:dcterm>
             </xs:appinfo>
             <xs:documentation>
                a bibliographic reference from which the present resource is 
                derived or extracted.  
             </xs:documentation>
             <xs:documentation>
                This is intended to point to an article in the published 
                literature.  An ADS Bibcode is recommended as a value when 
                available.    
             </xs:documentation>
          </xs:annotation>
       </xs:element>
       
       <xs:element name="referenceURL" type="xs:anyURI">
          <xs:annotation>
             <xs:documentation>
                URL pointing to a human-readable document describing this 
                resource.   
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="type" type="xs:token" 
                   minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Type</vm:dcterm>
             </xs:appinfo>
             <xs:documentation>
               Nature or genre of the content of the resource.  Values for
               type should be taken from the controlled vocabulary
               http://www.ivoa.net/rdf/voresource/content_type
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="contentLevel" type="xs:token" 
                   minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
             <xs:appinfo>
               <vm:dcterm>Subject</vm:dcterm>
               <vm:dcterm>Subject.ContentLevel</vm:dcterm>
             </xs:appinfo>           
             <xs:documentation>
                Description of the content level or intended audience.
                Values for contentLevel should be taken from the controlled
                vocabulary
                http://www.ivoa.net/rdf/voresource/content_level.
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="relationship" type="vr:Relationship" 
                   minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
             <xs:documentation>
               a description of a relationship to another resource.  
             </xs:documentation>
          </xs:annotation>
       </xs:element>
       
     </xs:sequence>
      
   </xs:complexType>

   <xs:complexType name="Source">
      <xs:simpleContent>
         <xs:extension base="xs:token">
           <xs:attribute name="format" type="xs:string">
             <xs:annotation>
               <xs:documentation>
                 The reference format.  Recognized values include “bibcode”, 
                 referring to a standard astronomical bibcode 
                 (http://cdsweb.u-strasbg.fr/simbad/refcode.html).  
               </xs:documentation>
             </xs:annotation>
           </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="Relationship">
      <xs:annotation>
         <xs:documentation>
           A description of the relationship between one resource and one or
           more other resources.
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="relationshipType" type="xs:token">
            <xs:annotation>
               <xs:documentation>
                  the named type of relationship
               </xs:documentation>
               <xs:documentation>
                 The value  of relationshipType should be taken from the 
                 vocabulary at
                 http://www.ivoa.net/rdf/voresource/relationship_type.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="relatedResource" type="vr:ResourceName" 
                     minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>
                  the name of resource that this resource is related to.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <!--
     -  The Organisation resource type
     -->

   <xs:complexType name="Organisation">
      <xs:annotation>
         <xs:documentation>
           A named group of one or more persons brought together to pursue 
           participation in VO applications.  
         </xs:documentation>
         <xs:documentation>
           According to the Resource Metadata Recommendation, organisations 
           “can be hierarchical and range in size and scope.  At a high level, 
           an organisation could be a university, observatory, or government
           agency.  At a finer level, it could be a specific scientific 
           project, mission, or individual researcher.”
         </xs:documentation>
         <xs:documentation>
           The main purpose of an organisation as a registered resource is 
           to serve as a publisher of other resources.  
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="vr:Resource">
            <xs:sequence>

               <xs:element name="facility" type="vr:ResourceName"
                           minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:appinfo>
                       <vm:dcterm>Subject</vm:dcterm>
                     </xs:appinfo>
                     <xs:documentation>
                       the observatory or facility used to collect the data 
                       contained or managed by this resource.  
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>

               <xs:element name="instrument" type="vr:ResourceName"
                           minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:appinfo>
                       <vm:dcterm>Subject</vm:dcterm>
                       <vm:dcterm>Subject.Instrument</vm:dcterm>
                     </xs:appinfo>
                     <xs:documentation>
                       the Instrument used to collect the data contain or 
                       managed by a resource.  
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>

            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <!--
     -  The Service resource type
     -->

   <xs:complexType name="Service">
      <xs:annotation>
         <xs:documentation>
           a resource that can be invoked by a client to perform some action
           on its behalf.  
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="vr:Resource">
            <xs:sequence>

               <xs:element name="rights" type="vr:Rights" 
                           minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:appinfo>
                       <vm:dcterm>Rights</vm:dcterm>
                     </xs:appinfo>           
                     <xs:documentation>
                       Information about rights held in and over the resource.
                     </xs:documentation>
                     <xs:documentation>
                       Mainly for compatibility with DataCite, this element
                       is repeatable.  Resource record authors are advised
                       that within the Virtual Observatory clients will
                       typically only display and/or use the rights
                       element occurring first and ignore later elements.
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>

               <xs:element name="capability" type="vr:Capability" 
                           minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>
                        a description of a general capability of the
                        service and how to use it.
                     </xs:documentation>
                     <xs:documentation>
                        This describes a general function of the
                        service, usually in terms of a standard
                        service protocol (e.g. SIA), but not
                        necessarily so.
                     </xs:documentation>
                     <xs:documentation>
                        A service can have many capabilities
                        associated with it, each reflecting different
                        aspects of the functionality it provides.  
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="Rights">
      <xs:annotation>
         <xs:documentation>
            A statement of usage conditions.  This will typically
            include a license,
            which should be given as a full string (e.g., Creative Commons
            Attribution 3.0 International).  Further free-text information,
            e.g., on how to attribute or on embargo periods is allowed.
         </xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:token">
            <xs:attribute name="rightsURI" type="xs:anyURI">
               <xs:annotation>
                  <xs:documentation>
                     A URI identifier for a license
                  </xs:documentation>
                  <xs:documentation>
                     Where formal licenses are available, this URI can
                     reference the full license text.  The IVOA may define
                     standard URIs for a set of recommended
                     licenses, in which case these should be used here.
                  </xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="Capability">
      <xs:annotation>
         <xs:documentation>
            a description of what the service does (in terms of 
            context-specific behavior), and how to use it (in terms of
            an interface)
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="validationLevel" type="vr:Validation"
                     minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>
                  A numeric grade describing the quality of the
                  capability description and interface, when applicable, 
                  to be used to indicate the confidence an end-user
                  can put in the resource as part of a VO application
                  or research study. 
               </xs:documentation>
               <xs:documentation>
                  See vr:ValidationLevel for an explanation of the
                  allowed levels.  
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="description" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation>
                  A human-readable description of what this capability 
                  provides as part of the over-all service 
               </xs:documentation>
               <xs:documentation>
                  Use of this optional element is especially encouraged when
                  this capability is non-standard and is one of several 
                  capabilities listed.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="interface" type="vr:Interface" 
                     minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>
                  a description of how to call the service to access
                  this capability
               </xs:documentation>
               <xs:documentation>
                  Since the Interface type is abstract, one must describe
                  the interface using a subclass of Interface, denoting
                  it via xsi:type.
               </xs:documentation>
               <xs:documentation>
                  Multiple occurences can describe different interfaces to 
                  the logically same capability, i.e. data or functionality.
                  That is, the inputs accepted and the output provides should
                  be logically the same.  For example, a WebBrowser interface
                  given in addition to a WebService interface would simply 
                  provide an interactive, human-targeted interface to the 
                  underlying WebService interface.  
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>

      <xs:attribute name="standardID" type="xs:anyURI">
         <xs:annotation>
            <xs:documentation>
               A URI identifier for a standard service. 
            </xs:documentation>
            <xs:documentation>
               This provides a unique way to refer to a service
               specification standard, such as a Simple Image Access service.
               The use of an IVOA identifier here implies that a
               VOResource description of the standard is registered and 
               accessible.  
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="Interface" abstract="true">
      <xs:annotation>
         <xs:documentation>
            A description of a service interface.
         </xs:documentation>
         <xs:documentation>
            Since this type is abstract, one must use an Interface subclass
            to describe an actual interface.
         </xs:documentation>
         <xs:documentation>
           Additional interface subtypes (beyond WebService and WebBrowser) are 
           defined in the VODataService schema.
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="accessURL" type="vr:AccessURL"
                     minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>
                 The URL (or base URL) that a client uses to access the
                 service.  How this URL is to be interpreted and used 
                 depends on the specific Interface subclass
               </xs:documentation>
               <xs:documentation>
                 Although the schema allows multiple occurrences of
                 accessURL, multiple accessURLs are deprecated.  Each
                 interface should have exactly one access URL.  Where an
                 interface has several mirrors, the  accessURL should
                 reflect the “primary” (fastest, best-connected, 
                 best-maintained) site, the one that non-sophisticated
                 clients will go to.

                 Additional accessURLs should be put into mirrorURLs.
                 Advanced clients can retrieve the mirrorURLs and 
                 empirically determine interfaces closer to their 
                 network location.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="mirrorURL" type="vr:MirrorURL"
                     minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>
                 A (base) URL of a mirror of this interface.  As with
                 accessURL, how this URL is to be interpreted and used 
                 depends on the specific Interface subclass
               </xs:documentation>
               <xs:documentation>
                This is intended exclusively for true mirrors, i.e.,
                interfaces that are functionally identical to the
                original interface and that are operated by the same 
                publisher.  Other arrangements should be represented as
                separate services linked by mirror-of relationships.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="securityMethod" type="vr:SecurityMethod"
                     minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  The mechanism the client must employ to authenticate
                  to the service.
               </xs:documentation>
               <xs:documentation>
                  Services not requiring authentication must provide
                  at least one interface definition without a 
                  securityMethod defined.
               </xs:documentation>
            </xs:annotation>
         </xs:element>

         <xs:element name="testQueryString" type="xs:token"
                     minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation>
                  Test data for exercising the service.
               </xs:documentation>
               <xs:documentation>
                  This contains data that can be passed to the interface to
                  retrieve a non-empty result.  This can be used by validators
                  within test suites.

                  Exactly how agents should use the data contained in
                  the testQueryString depends on the concrete interface class.
                  For interfaces employing the HTTP GET method, however,
                  this will typically be urlencoded parameters (as for
                  the application/x-www-form-urlencoded media type).
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>

      <xs:attribute name="version" type="xs:string">
         <xs:annotation>
            <xs:documentation>
               The version of a standard interface specification that this 
               interface complies with.  Most VO standards indicate the
               version in the standardID attribute of the capability.  For
               these standards, the version attribute should not be used.
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="role" type="xs:NMTOKEN">
         <xs:annotation>
            <xs:documentation>
               A tag name that identifies the role the interface plays
               in the particular capability.  If the value is equal to
               "std" or begins with "std:", then the interface refers
               to a standard interface defined by the standard
               referred to by the capability's standardID attribute.  
            </xs:documentation>
            <xs:documentation>
               For an interface complying with some registered
               standard (i.e. has a legal standardID), the role can be
               matched against interface roles enumerated in standard 
               resource record.  The interface descriptions in
               the standard record can provide default descriptions 
               so that such details need not be repeated here.  
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="AccessURL">
     <xs:simpleContent>
       <xs:extension base="xs:anyURI">
         <xs:attribute name="use">
           <xs:annotation>
             <xs:documentation>
               A flag indicating whether this should be interpreted as a base
               URL, a full URL, or a URL to a directory that will produce a 
               listing of files.
             </xs:documentation>
             <xs:documentation>
               The default value assumed when one is not given depends on the 
               context.  
             </xs:documentation>
           </xs:annotation>
           <xs:simpleType>
             <xs:restriction base="xs:NMTOKEN">
               <xs:enumeration value="full">
                 <xs:annotation>
                   <xs:documentation>
                     Assume a full URL--that is, one that can be invoked 
                     directly without alteration.  This usually returns a 
                     single document or file.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="base">
                 <xs:annotation>
                   <xs:documentation>
                     Assume a base URL--that is, one requiring an extra portion
                     to be appended before being invoked.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="dir">
                 <xs:annotation>
                   <xs:documentation>
                     Assume URL points to a directory that will return a listing
                     of files.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
             </xs:restriction>
           </xs:simpleType>
         </xs:attribute>
       </xs:extension>
     </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="MirrorURL">
      <xs:annotation>
         <xs:documentation>
            A URL of a mirror (i.e., a functionally identical additional 
            service interface) to 
         </xs:documentation>
     </xs:annotation>
     <xs:simpleContent>
       <xs:extension base="xs:anyURI">
         <xs:attribute name="title" type="xs:token">
            <xs:annotation>
               <xs:documentation>
                  A terse, human-readable phrase indicating the function
                  or location of this mirror, e.g., “Primary Backup” or
                  “European Mirror”.
               </xs:documentation>
           </xs:annotation>
         </xs:attribute>
       </xs:extension>
     </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="SecurityMethod">
      <xs:annotation>
         <xs:documentation>
            a description of a security mechanism.
         </xs:documentation>
         <xs:documentation>
            This type only allows one to refer to the mechanism via a
            URI.  Derived types would allow for more metadata.  
         </xs:documentation>
      </xs:annotation>

      <xs:sequence/>

      <xs:attribute name="standardID" type="xs:anyURI">
         <xs:annotation>
            <xs:documentation>
               A URI identifier for a standard security mechanism. 
            </xs:documentation>
            <xs:documentation>
               This provides a unique way to refer to a security
               specification standard.  The use of an IVOA identifier here 
               implies that a VOResource description of the standard is 
               registered and accessible.  
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

   </xs:complexType>

   <xs:complexType name="WebBrowser">
      <xs:annotation>
         <xs:documentation>
            A (form-based) interface intended to be accesed interactively 
            by a user via a web browser.
         </xs:documentation>
         <xs:documentation>
            The accessURL represents the URL of the web form itself.
         </xs:documentation>
      </xs:annotation>

      <xs:complexContent>
         <xs:extension base="vr:Interface">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="WebService">
      <xs:annotation>
         <xs:documentation>
            A Web Service that is describable by a WSDL document.
         </xs:documentation>
         <xs:documentation>
            The accessURL element gives the Web Service's endpoint URL.
         </xs:documentation>
      </xs:annotation>

      <xs:complexContent>
         <xs:extension base="vr:Interface">
            <xs:sequence>
               <xs:element name="wsdlURL" type="xs:anyURI"
                           minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>
                        The location of the WSDL that describes this
                        Web Service.  If not provided, the location is 
                        assumed to be the accessURL with "?wsdl" appended.
                     </xs:documentation>
                     <xs:documentation>
                        Multiple occurrences should represent mirror copies of 
                        the same WSDL file.  
                     </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

</xs:schema>

<!-- 
vim: sta:et:ts=3 
-->
